<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - srsekhar</title>
    <link rel="stylesheet" href="D:\front_end\my_portfolio_website\static\style.css">
    <link rel="icon" href="C:\Users\REDDY\Pictures\srsekhar.jpg" >
</head>
<body>
    <header>
        <h1>About me</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="">About</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    
    <main>
        <section>
            <h3>About me</h3>
            <img src="C:\Users\REDDY\Pictures\personal photos\srs2.jpeg" alt="my photo" class="profile-pic">
        </section>
        <p> I am an aspiring software engineer, passionate about python,DevOps,cloud,DataAnalytics and AI. <br>
            I love building useful projects and learning new tech every day.
        </p>
    </main>

    <footer>
        <p> &copy; 2025 sekhar</p>
    </footer>
</body>
</html>