<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>srs portfolio</title>
    <link rel="stylesheet" href="D:\front_end\my_portfolio_website\static/style.css">
    <link rel="icon" href="C:\Users\REDDY\Pictures\personal photos\srs2.jpeg">
</head>

<body>
    <header>
        <h1>SOMPALLI REDDYSEKHAR portfolio</h1>
        <p>
            <strong>Email:</strong> srsekhar8333@gmail.com <br>
            <strong>Phone:</strong> 8333958264
        </p>
        <nav> <!--The <nav> tag in HTML is used to define a section of navigation links.-->
            <ul>
                <li><a href="about.html"> About Me </a></li>
                <li><a href=""> Projects </a></li>
                <li><a href=""> My Skills </a></li>
                <li><a href="contact.html"> Contact </a></li>
            </ul>
        </nav>
        <a href="" aria-readonly="true"> My Resume</a>
        <hr>
    </header>

    <main>
        <!--The <main> tag in HTML defines the primary content of a document.It should be unique (appearing only once per page)-->

        <section class="hero">
            <!--The <section> tag in HTML defines a thematic grouping of content with a heading, representing a distinct section of a document.-->
            <img src="C:\Users\REDDY\Pictures\personal photos\srs.jpeg" alt="SRS Image" class="profile-pic">
            <h2> hello, I am a passionate developer</h2>
            <p> python | DevOps | MachineLearning | fullstack | DataAnalytics enthusiast </p>
            <button onclick="sayHello()">Click Me</button>
            <hr> <!--It is used to insert a horizontal line between sections of content.-->
        </section>
        <section class="projects">
            <h3>my projects</h3>
            <ul>
                <li>my portfolio website (currenlty you viewing)</li>
                <li>story patent classifier</li>
                <li>srs restaurant app</li>
            </ul>
            <hr>
        </section>
    </main>
    <footer>
        <p> &copy; 2025 sekhar. all rights reserved.</p>
    </footer>
</body>

</html>